.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.contact-wrapper.show {
    opacity: 1;
    transform: scaleY(1);
}

#contact {
    background-color: rgb(227, 227, 227);
    width: 60vh;
    padding: 20px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform-origin: center;
}

#contact input,
#contact textarea {
    padding: 12px;
    width: calc(100% - 24px);
    border: none;
    border-radius: 6px;
    margin-bottom: 12px;
    background-color: rgb(227, 227, 227);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#contact button {
    background-color: rgb(219, 77, 0);
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-weight: bold;
}

#contact button:hover {
    background-color: rgb(194, 55, 0);
}
#contact h2{
    color: #060011;
    font-family: 'Merrisweather';
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: 1px;
}
#contact label{
    color: #060011;
    margin-bottom: 10px;
}
#contact input{
    border: 1px solid #060011;
    margin-top: 3px;
}
#contact textarea{
    border: 1px solid #060011;
    margin-top: 3px;
}