#footer-section{
    background-color: rgb(219, 77, 0);
    padding: 1px 0px 10px 20px;
}
#footer-btn{
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    background-color: rgb(227, 227, 227);
    color: #060011;
}
#footer-btn:hover{
    cursor: pointer;
    background-color: rgb(200, 199, 199);
}
.underline{
    color: #060011;
    font-weight: 600;
}